<div class="container">
  <div class="row">
    <h3 class="text-center">Angular Day 1</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-center">Installing Node</h5>
      <ul>
        <li>Windows - <a href="https://nodejs.org/dist/v8.11.3/node-v8.11.3-x86.msi">here</a></li>
        <li>Mac - <a href="https://nodejs.org/dist/v8.11.3/node-v8.11.3.pkg">here</a></li>
        <li>Linux - <a href="https://www.ostechnix.com/install-node-js-linux/" target="_blank">Follow tutorial</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5 class="text-center">Installing Angular</h5>
      <section [innerHtml]="ngInstall" highlight-js-content=".highlight"></section>
    </div>
  </div>
</div>
