#mamp {
  background-color: #1e77a8;
  padding: 15px;
  margin-bottom: 10px;
}

#codeIgniter {
  background-color: #dd4814;
  padding: 15px;
  margin-bottom: 20px;
}

.small-headings {
  font-size: 20px;
}
