<section id="heroimage" [ngStyle]="{background: 'url(/assets/imgs/banner.jpeg)'}">
  <div id="bannerbox" class="container-fluid">
    <h1>Educate</h1>
    <button class="btn" routerLink="/classes">View Classes</button>
  </div>
</section>
<section class="paddingTop">
  <div class="container-fluid">
    <div class="row">
      <h2 class="text-center">Here are just a few of the things that will I have classes on in the near future:</h2>
    </div>
    <div class="row paddingTop">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 frame">
        <span class="helper"></span><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML" target="_blank"><img src="/assets/imgs/htmlCssLogo.svg" alt="HTML/CSS Logos" class="logos"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 frame">
        <span class="helper"></span><a href="https://www.javascript.com/" target="_blank"><img src="/assets/imgs/jsLogo.png" alt="JavaScript Logo" class="logos"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 frame">
        <span class="helper"></span><a href="http://www.php.net/" target="_blank"><img src="/assets/imgs/phpLogo.png" alt="PHP Logo" class="logos"></a>
      </div>
    </div>
    <div class="row paddingTop">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 frame">
        <span class="helper"></span><a href="https://angular.io/" target="_blank"><img src="/assets/imgs/angularLogo.svg" alt="Angular Logo" class="logos"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 frame">
        <span class="helper"></span><a href="https://nodejs.org/en/" target="_blank"><img src="/assets/imgs/nodeLogo.png" alt="Node.js Logo" class="logos"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 frame">
        <span class="helper"></span><a href="https://ionicframework.com/" target="_blank"><img src="/assets/imgs/ionicLogo.svg" alt="Ionic Logo" class="logos"></a>
      </div>
    </div>
    <div class="row paddingTop">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 frame">
        <span class="helper"></span><a href="https://electronjs.org/" target="_blank"><img src="/assets/imgs/electronLogo.svg" alt="Electron.js Logo" class="logos"></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 frame">
        <span class="helper"></span><a href="https://laravel.com/" target="_blank"><img src="/assets/imgs/laravelLogo.svg" alt="Laravel Logo" class="logos"></a>
      </div>
    </div>
  </div>
</section>
